<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        
        <mat-card-footer>
            <p><button mat-stroked-button color="accent" class="btn-block">Log in</button></p>
            <p><button mat-button color="accent" [routerLink]="'/register'" class="btn-block">Créer un compte</button></p>
        </mat-card-footer>
       
      </form>
    </mat-card>
  
  </div>
